.list_{
    display: flex;
    flex-direction: column;
    padding: .533333rem .6rem;
    box-sizing: border-box;
  
    .list_item{
        line-height: 1.2rem;
        font-size:.45rem;
        border-bottom: .053333rem solid rgba(221,221,221,1);
        display: flex;
        justify-content: space-between;
        font-family:PingFang-SC-Medium;
        font-weight:500;
        color:rgba(102,102,102,1);
        .iconfont{
            font-size: .533333rem;
        }
    }
}