#EditData{
    .header_top{
        height: 1.2rem;
        background-color: rgb(220, 220, 220);
        display: flex;
        align-items: center;
        padding-left: .266667rem;
        text-align: center;
        justify-content: center;
        position: relative;
        .iconfont{
            font-weight: 600;
            font-size: .373333rem;
            position: absolute;
            left: .266667rem;
        }
        span{
            margin-left: .133333rem;
            font-size: .373333rem;
            font-family:PingFang-SC-Bold;
            font-weight:bold;
            color:rgba(51,51,51,1);
        }
    }
    .Head_portrait{
        .url_img{
            width: 1.866667rem;
            height: 1.866667rem;
            overflow: hidden;
            border: 1px solid #bbb;
            border-radius: 50%;
            margin: auto;
            margin-top: 1.333333rem;
            margin-bottom: 1.333333rem;
        }
        .information{
            padding: 0 .8rem;
            box-sizing: border-box;
            .Account_number{
                display: flex;
                color:  rgb(153, 153, 153);
                justify-content: space-between;
                padding-bottom: .133333rem; 
                line-height: .533333rem;
                border-bottom: .026667rem solid rgba(221,221,221,1);
                b{
                    color:  rgb(153, 153, 153);
                }
            }
            .Pen_name{
                color:  rgb(153, 153, 153);
                display: flex;
                justify-content: space-between;
                display: flex;
                justify-content: space-between;
                padding-bottom: .133333rem; 
                border-bottom: .026667rem solid rgba(221,221,221,1);
                line-height: .533333rem;
                margin-top: .133333rem;
                align-items: center;
                .text{
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
    .Mask{
        width: 100%;
        height: 100%;
        background:rgba(188,188,188,1);
        opacity:0.8;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 50;
        &hidden{
            display: none;
        }
        &show{
            display: block;
        }
        .modify{
            width: 5.653333rem;
            height: 2.8rem;
            background: white;
            position: absolute;
            left: 50%;
            top: 50%;
            border-radius: .533333rem; 
            transform: translate(-50%,-50%);
            .contents{
                text-align: center;
                p{
                    font-family: PingFangSC;
                    font-weight: 700;
                    font-size: .373333rem;
                    color: rgba(102, 102, 102, 1);
                    font-style: normal;
                    line-height: .833333rem;
                    text-decoration: none;
                }
                input{
                    width: 3.413333rem;
                    height: .5rem;
                    z-index: 14;
                    color: rgb(153, 153, 153);
                    font-size: .373333rem;
                    border-width: .026667rem;
                    border-style: solid;
                    text-align: center;
                    line-height: .533333rem;
                    opacity: 1;
                }
                .Button{
                    margin-top: .266667rem;
                    display: flex;
                    height: 100%;
                    align-items: center;
                    border-top:1px solid rgba(153,153,153,1);
                    div{
                        height: 1.15rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex: 1;
                        color: black;
                        font-size: .426667rem;
                    }
                    .cancel{
                        border-right:1px solid rgba(153,153,153,1);
                    }
                }
            }
        }
    }
}