.log_reg_input {
    display: flex;
    align-items: flex-end;
    padding: 0 .533333rem 0 .586667rem;
    height: 1.866667rem;
    input {
        padding: 0 .373333rem;
        width: 100%;
        line-height: .8rem;
        border: none;
        font-size: .373333rem;
        border-bottom: .026667rem solid #999;
    }
}